/*********************************************
*****************COLLAB PAGE******************
*********************************************/
#collabsDiv {
    text-align: center;
    background-color: darkred;
    color: white;
}