/*********************************************
************CONTEST VOTING PAGE***************
*********************************************/
.contestVotingForm input[type='submit']{
    font-size: 1.2rem;
    padding: 5%;
    background-color: $toy-blue-color;
    color: $almost-white;
    border-radius: 5%;
}

#contestVotingContainer {
    padding: 5%;
    width: 100%;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $almost-white;
}
#contestVotingContainer form {
    width: 100%;
}
#contestVotingContainer table {
    width: 100%;
}
#contestVotingContainer td {
    padding: 0.5rem 0;
}
#contestVotingContainer h1 {
    text-align: center;
}
#contestVotingContainer .votingPick {
    width: 8rem;
}
#contestVotingContainer input[type="button"] {
    background-color: transparent;
    border: none;
    width: 2rem;
}
#contestVotingContainer form input[type="submit"] {
    margin: 5% 25%;
    font-size: 1.5rem;
}

#contestSubmissionContainer {
    text-align: center;
    padding: 5%;
}
#contestSubmissionContainer .contest-submission {
    background-color: darkslategray;
    margin: 0 0 5% 0;
    width: 100%;
    align-content: center;
    padding: 3%;
}
#contestSubmissionContainer .contest-submission .steaminfo {
    margin: 0 auto;
    background-color: inherit;
    height: auto;
    padding: 0;
    font-size: 1.5rem;
}
#contestSubmissionContainer .contest-submission .steaminfo > img {
    height: 100%;
}
#contestSubmissionContainer .contest-submission a.contest-submission-url:link, #contestSubmissionContainer .contest-submission a.contest-submission-url:visited  {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}