/*********************************************
********************GENERAL*******************
*********************************************/
*,*:before,*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: $main-bg-color;
}

body {
    max-width: 50em;
    margin: 0 auto;
    overflow-x: none;
}
footer {
    font-size: 1.3rem;
    background-color: $near-black;
    text-align: center;
    width: 100%;
    color: oldlace;
    padding: 5%;
}
footer a {
    text-decoration: none;
    color: orangered;
}

#backToTop {
    display: none;
    bottom: 1%;
    right: 1%;
    position: fixed;
    float: right;
    height: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: $dark-red-orange;
    color: white;
}

.closed {
    height: 4rem;
    opacity: 0.4;
    overflow: hidden;
}
.opened {
    height: 100rem!important;
    opacity: 1!important;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic!important;
}
.bold {
    font-weight: bold!important;
}

.success-notification {
    background-color: $success-color;
}
.error-notification {
    background-color: $error-color;
}

.jump-to-icon {
    background: url('img/forward.png');
    background-size: 100% 100%;
    max-width: 50%;
}

.yellow {
    color: $yellow-text-color;
}

#privacyPolicy, #termsOfUse, #failedLogin {
    color: whitesmoke;
    text-align: center;
    padding: 3%;
    font-size: 1.3rem;
}

#failedLogin .steam-privacy {
    display: block;
    margin: 3rem auto;
    max-width: 65%;
    border: 0.3rem white solid;
    margin-bottom: 3rem;
}

#failedLogin h3 {
    color: $red-bg-color;
    background-color: $almost-white;
}

#failedLogin h1 {
    color: $text-blue-color;

}

.infopanel {
    width: 100%;
    padding: 3rem 10%;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: $almost-white;
    background-color: $main-bg-color;
}

#contestWinnerSection {
    color: $first-place-color;
}
.contest-winner {
    align-content: center;
}
.contest-winner img {
    vertical-align: middle;
    max-width: 4rem;
}

.youtube img {
    max-width: 13rem;
    margin: 0 auto 1em auto;
}

.discord img {
    max-width: 15rem;
}

.twitch img {
    max-width: 10rem;
    margin-bottom: 1.5rem;
}

.patreon h1, .patreon span {
    color: $toy-blue-color;
}
.patreon img {
    max-height: 10rem;
}
.dragon-img {
    display: block;
    max-width: 50%;
    margin: 2em auto;
    
}
.yt-cont {
    position: relative;
    padding: 1rem;
    width: 16rem;
    height: 9rem;
    margin: 0 auto;
}
.yt-cont iframe, .yt-cont object, .yt-cont embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}