/*********************************************
*****************SHUFFLE PAGE*****************
*********************************************/
#nextRoundTimer {
    color: $almost-white!important;
    background-color: $main-bg-color;
    width: 75%;
    margin: 5% auto 0 auto;
    border: 0.3rem $red-bg-color solid;
}

#workshopLink, #previousLinks {
    background-color: $almost-white;
    font-size: 1.5rem;
    border: $near-black 0.3rem solid;
    padding: 0.5rem;
    width: 75%;
    margin: 5% auto 0 auto;
    text-align: center;
}
#workshopLink a, #previousLinks a {
    cursor: pointer;
    text-decoration: none;
    color: $near-black;
    font-weight: bold;
}
#workshopLink h1, #previousLinks h1 {
    color: $text-blue-color;
}
#workshopLink a:hover, #previousLinks a:hover {
    color: $success-color;
}

#activeShuffle a img {
    width: 50%;
}

.report-user {
    color: $near-black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
    line-height: 1.5rem;
    background: $text-blue-color;
    border: 0.1rem dotted $near-black;
    border-radius: 1rem;
    width: 6rem;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}
.report-user:hover {
    color: $almost-white;
    background-color: $red-bg-color;
}