/*********************************************
********************USER PANEL****************
*********************************************/
.welcome, .steaminfo {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    background-color: $red-bg-color;
    color: whitesmoke;
}
.steaminfo {
    width: 100%;
    display: inline-block;
    line-height: 3rem;
    text-align: left
}
.steaminfo a {
    width: 100%;
    color: $almost-white;
    text-decoration: none;
}
.steaminfo img {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    float: left;
}

.userbanner .controlPanel .steaminfo .logoutBtn {
    margin-top: -25%;
}
.userbanner {
    background-color: $red-bg-color;
    width: 100%;
    padding: 1rem;
    text-align: center;
    min-height: 7rem;
}
.userbanner > img {
    max-width: 35%;
}
.userbanner .controlPanel, .userbanner .controlPanel .logoutBtn {
    width: 100%;
    padding: 5% 0;
}
.userbanner .controlPanel, .userbanner .controlPanel .logoutBtn input {
    float: right;
}
.userSubmitBtn {
    width: 75%;
    margin: 0 auto;
}
.userSubmitBtn input {
    width: 100%;
    font-size: 0.9rem;
    background-color: darkslategrey;
    color: white;
    border-radius: 5px;
}

.loginbanner {
    background-color: $red-bg-color;
    width: 100%;
    padding: 1rem;
}
.loginbanner img {
    max-width: 35%;
}

.loginBtn input, .logoutBtn input {
    font-size: 1.2rem;
    background-color: $toy-blue-color;
    color: $almost-white;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
