/*********************************************
****************USER PROFILE PAGE*************
*********************************************/

.userProfileSection {
    color: $near-black;
    background-color: $almost-white;
    border: 1rem darkgrey solid;
    font-size: 1.1rem;
    text-align: justify;
    padding: 2rem 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.userProfileSection a {
    font-family: inherit;
    color: $near-black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    
}
.userProfileSection h3 {
    font-size: 1.6rem;
    margin: 0 auto;
}
.userProfileSection h1, .userProfileSection h3 {
    color: $text-blue-color;
}
.userProfileSection h3 a {
    font-size: 1rem;
}
.userProfileSection h1, .userProfileSection h2, .userProfileSection h3 {
    text-align: center;
}
.userProfileSection h2 > img {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.userProfileSection span {
    display: inline-block;
    margin: 1rem 0;
    color: $text-blue-color;
    font-weight: bold;
}
.userProfileSection #userVerified {
    text-align: center;
    color: white;
    margin-top: 1rem;
}