//SASS VARIABLES
$main-bg-color: #303030;
$text-blue-color: #3b79ff;
$light-gold: rgb(196, 177, 128);
$near-black: #272822;
$first-place-color: rgb(240, 222, 64);
$toy-blue-color: rgb(15, 129, 223);
$almost-white: rgb(220, 220, 220);
$dark-red-orange: rgb(200, 50, 50);
$success-color: rgb(0, 121, 0);
$error-color: rgba(255, 67, 67, 0.5);
$red-bg-color: rgb(140, 15, 15);

@mixin transition($property) {
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
}

//*****  Older-Browser Support & Styling
//*****  Non-grid Design
/* Extra Small Mobile Devices */
@media only screen and (min-width : 320px) {
    @import 'general';
    @import 'navbar';
    @import 'userpanel';
    @import 'collab';
    @import 'admin-contest';
    @import 'admin-contest-sub';
    @import 'contest';
    @import 'contest-voting';
    @import 'contest-judging';
    @import 'contest-results';
    @import 'shuffle';

}
/* Large Mobile Devices */
@media only screen and (min-width : 375px) {
    .opened {
        height: 90rem!important;
    }
}
/* Large Mobile Devices */
@media only screen and (min-width : 425px) {
    
}

/* Extra-Large Mobile Devices */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    html {
        font-size: 22px;
    }
    .opened {
        height: 85rem!important;
    }
    .steaminfo {
        height: auto;
        line-height: 3rem;
    }
    .steaminfo img {
        height: 3rem;
    }
    #howItWorkSection {
        font-size: 1.3rem;
    }
    .loginbanner img {
        width: 10rem;
    }
    .logoutBtn {
        margin-top: 5%;
    }
    #contestVotingContainer form select {
        font-size: 1rem;
    }
    #contestVotingContainer form {
        width: 65%;
        margin: 0 auto;
    }
    .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn {
        padding: 0.8rem 0;
        margin: 0;
    }
}

/* Medium Devices, Desktops - No minimum height */
@media only screen and (min-width : 1000px){
    html {
        font-size: 24px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
    html {
        font-size: 18px;
    }
    #contestVotingContainer form {
        width: 50%;
        margin: 0 auto;
    }
}

/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
    html {
        font-size: 20px;
    }
    #contestVotingContainer .votingPick {
        font-size: 1.1rem;
    }
}



//***** Newer Browser Support
//***** Grid Design

@supports(grid-area: auto){
	/* Extra Small Mobile Devices */ 
	@media only screen and (min-width : 5320px) {
        body {
            display: grid;
            max-width: none;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "header header" 
                "content content";
            grid-gap: 0 1em;

        }
        .navbar {
            grid-area: header;
            
        }
        .navbar .nav-ul {
            
        }
        .navbar .nav-ul .nav-li {
            
        }
        .navbar .nav-ul .nav-li a {
            
        }
        .banner {
            grid-area: content;
            
        }
	}

	/* Large Mobile Devices */
	@media only screen and (min-width : 425px) {
		
	}

	/* Extra-Large Mobile Devices */
	@media only screen and (min-width : 480px) {
		
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		
	}

	/* Medium Devices, Desktops - No minimum height */
	@media only screen and (min-width : 1000px){
		
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		
	}

	/* Extra-Large Devices, Wide Screens */
	@media only screen and (min-width : 1300px) {
		
	}
}