@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

//*****  Older-Browser Support & Styling
//*****  Non-grid Design

/* Extra Small Mobile Devices */
@media only screen and (min-width : 320px) {
/*
********************GENERAL*******************
*/
    *,*:before,*:after {
        box-sizing: border-box;
    }

    html {
        font-size: 16px;
        background-color: #3c3c3c;
    }

    body {
        max-width: 40em;
        margin: 0 auto;
        overflow-x: none;
    }
    footer {
        text-align: center;
        width: 100%;
        color: oldlace;
        padding: 5%;
    }
    #backToTop {
        display: none;
        bottom: 1%;
        right: 1%;
        position: fixed;
        float: right;
        height: 2rem;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: rgb(200, 50, 50);
        color: white;
    }
    .closed {
        height: 4rem;
        opacity: 0.4;
        overflow: hidden;
    }
    .opened {
        height: 100%!important;
        opacity: 1!important;
    }
    .italic {
        font-style: italic!important;
    }
    .bold {
        font-weight: bold!important;
    }
    .success-notification {
        background-color: rgba(24, 143, 24, 0.5);
    }
    .error-notification {
        background-color: rgba(196, 11, 11, 0.5);
    }
    .jump-to-icon {
        background: url('img/forward.png');
        background-size: 100% 100%;
        max-width: 50%;
    }
    
/*
********************NAVBAR*******************
*/
    .navbar {
        text-align: center;
        background-color: rgb(31, 29, 29);
        padding: 2%;
    }
    .navbar a{
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.5rem 0.5rem;
        line-height: 3rem;
        text-decoration: none;
    }
    .navbar a:active {
        background-color: orange;
    }
    .navbar a:visited, .navbar a {
        color: white;
    }
    .navbar a:hover {
        background-color: orange;
    }
    .dropdown {
        overflow: hidden;
        width: 3rem;
        margin: 0 auto;
    }    
    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 1rem;    
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
    }
    .dropdown-content {
        text-align: justify;
        display: none;
        position: absolute;
        background-color: rgb(31, 29, 29);
        z-index: 1;
    }
    .dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: orange;
    }
    .show {
        display: block;
    }
    



/*
*******************USER PANEL*******************
*/
    .welcome, .steaminfo {
        text-align: center;
        font-weight: bold;
        font-family: 'MedievalSharp', cursive;
        font-size: 1.8rem;
        background-color: darkred;
        color: whitesmoke;
    }
    .steaminfo {
        width: 100%;
        display: flex;
        line-height: 4rem;
    }
    .steaminfo img {
        width: 4rem;
        height: 4rem;
    }

    .userbanner .controlPanel .steaminfo .logoutBtn {
        float: right;
    }
    .userbanner {
        background-color: darkred;
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    .userbanner > img {
        width: 50%;
        margin: 5% 20% 0 20%;
    }
    .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn {
        width: 100%;
        padding: 5% 0;
    }
    .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn input{
        float: right;
    }
    .userSubmitBtn {
        width: 75%;
        margin: 0 auto;
    }
    .userSubmitBtn input{
        width: 100%;
        font-size: 0.9rem;
        background-color: darkslategrey;
        color: white;
        border-radius: 5px;
    }
    
    .loginbanner {
        background-color: darkred;
        width: 100%;
        padding: 1rem;
    }
    .loginbanner img {
        max-width: 35%;
    }

    .loginBtn input, .logoutBtn input {
        font-size: 1.2rem;
        background-color: darkslategrey;
        color: white;
    }

    .infopanel {
        width: 100%;
        padding: 1rem 10%;
        line-height: 2rem;
        text-align: center;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        color: whitesmoke;
    }
    .discord {
        background-color: orange;
    }
    .discord img {
        max-width: 15rem;
    }

    .twitch {
        background-color: darkorange;
    }
    .twitch img{
        max-width: 10rem;
        margin-bottom: 1.5rem;
    }

    .patreon {
        background-color: rgb(249, 104, 84);
    }
    .patreon h1 {
        color: black;
    }
    .patreon img {
        max-height: 10rem;
    }
/*
**********************COLLAB PAGE*******************
*/
    #collabsDiv {
        text-align: center;
        background-color: darkred;
        color: white;
    }
/*
**********************ADMIN CONTEST CREATE/EDIT PAGE*******************
*/
    
    .contest-creation {
        width: 100%;
        padding: 3rem;
        background-color: #3c3c3c;
        color: antiquewhite;
    }
    .contest-creation input[type="datetime-local"], .contest-creation select, .contest-creation input[type="text"],
     .contest-creation input[type="submit"], .contest-creation input[type="reset"], .contest-creation input[type="number"]{
        height: 2rem;
        font-size: 1rem;
    }
    .contest-creation h1 {
        text-align: center;
    }
    .contest-creation-form {
        width: 75%;
        margin: 5rem auto;
    }
    .contest-creation-form * {
        width: 100%;
    }
    
    .contest-creation-form label {
        font-size: 1rem;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .contest-creation-form input[type="checkbox"] {
        width: auto;
    }
    .contest-creation-form input[type="submit"] {
        background-color: green;
        color: whitesmoke;
    }
    .contest-creation-form input[type="reset"] {
        background-color: red;
        color: whitesmoke;
    }
    #contestDescription {
        width: 100%;
        height: 50vh;
    }
    #contestCriteriaDropdown, #contestRulesDropdown, #addJudgeDropdown, #removeJudgeDropdown {
        height: auto;
    }
    

/*
**********************ADMIN MANAGE ROLES PAGE*******************
*/
    

/*
**********************ACTIVE CONTEST PAGE*******************
*/
    //
    //General Contest Stuff
    //
    #activeContest, #submitEntrySection, #howItWorkSection, #showErrorSuccess {
        padding: 5%;
        text-align: center;
        font-size: 1rem;
        background-color: #3c3c3c;
        color: antiquewhite;
        font-weight: bold;
    }
    #activeContest h1, #activeContest h2 {
        font-family: 'MedievalSharp', cursive;
        font-weight: bold;
    }
    #activeContest h1 {
        font-size: 2.5rem;
    }
    #activeContest img {
        width: 100%;
    }
    #activeContest #twitchImg {
        width: 40%;
    }
    #activeContest .contest-banner-container {
        background: url('img/contest_banner.png');
        background-size: 100% 100%;
        padding: 2.5%;
    }
    #activeContest .sml-container {
        width: 100%;
        height: 20vh;
    }
    #activeContest .sml-container span {
        max-width: 47.5%;
    }
    #activeContest .sml-container span:nth-of-type(1) {
        float: left;
    }
    #activeContest .sml-container span:nth-of-type(2) {
        float: right;
    }
    #activeContest .sml-container span:nth-of-type(3) {
        float: left;
    }
    #activeContest .sml-container span:nth-of-type(4) {
        float: right;
    }
    #activeContest #rulesDiv {
        text-align: left;
        padding: 0 5%;
    }
    #activeContest #rulesDiv .rule {
        font-size: 1.5rem;
        margin-top: 5%;
    }
    //
    //How It Works Section
    //
    #howItWorkSection #learnMore {
        padding: 1rem;
        border: 0.2rem solid rgb(27, 27, 27);
        box-shadow: 0 0.6rem 1.5rem 0.1rem rgb(196, 177, 128);
        border-top: none;
        border-radius: 0 0 1rem 1rem;
        margin: 0 auto 6rem auto;
        width: 50%;
        cursor: pointer;
    }
    #howItWorkSection #contestInDepth {
        transition: opacity 1s ease;
    }
    #howItWorkSection a {
        text-decoration: none;
        color: darkgoldenrod;
    }
    #howItWorkSection h3 {
        color: rgb(35, 104, 255);
        letter-spacing: 0.1rem;
    }
    //
    //Submit Section
    //
    #submitEntrySection, #howItWorkSection {
        padding: 5%;
    }
    #submitEntrySection h2 {
        font-size: 1.5rem;
    }
    #submitEntrySection #submissionURL {
        width: 100%;
    }
    #submitEntrySection #submitContestUser {
        padding: 0.5rem;
    }
    #submitEntrySection img {
        width: 50%;
    }
/*
**********************ACTIVE CONTEST VOTING PAGE*******************
*/
    .contestVotingForm input[type='submit']{
        font-size: 1.2rem;
        padding: 5%;
        background-color: rgb(15, 129, 223);
        color: rgb(248, 242, 242);
        border-radius: 5%;
    }

    #contestVotingContainer {
        padding: 5%;
        width: 100%;
        font-size: 1rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(248, 242, 242);
    }
    #contestVotingContainer form {
        width: 100%;
    }
    #contestVotingContainer table {
        width: 100%;
    }
    #contestVotingContainer td {
        padding: 0.5rem 0;
    }
    #contestVotingContainer h1 {
        text-align: center;
    }
    #contestVotingContainer .votingPick {
        width: 8rem;
    }
    #contestVotingContainer input[type="button"] {
        background-color: transparent;
        border: none;
        width: 2rem;
    }
    #contestVotingContainer form input[type="submit"] {
        margin: 5% 25%;
        font-size: 1.5rem;
    }

    #contestSubmissionContainer {
        text-align: center;
        padding: 5%;
    }
    #contestSubmissionContainer .contest-submission {
        background-color: darkslategray;
        margin: 0 0 5% 0;
        width: 100%;
        align-content: center;
        padding: 3%;
    }
    #contestSubmissionContainer .contest-submission .steaminfo {
        margin: 0 auto;
        background-color: inherit;
        height: auto;
        padding: 0;
        font-size: 1.5rem;
    }
    #contestSubmissionContainer .contest-submission .steaminfo > img {
        height: 100%;
    }
    #contestSubmissionContainer .contest-submission a.contest-submission-url:link, #contestSubmissionContainer .contest-submission a.contest-submission-url:visited  {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
/*
**********************ACTIVE CONTEST JUDGING PAGE*******************
*/
    #submissionTable {
        font-family: Georgia, 'Times New Roman', Times, serif;
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;
    }
    #contestRubric h1 {
        text-align: center;
    }
    #submissionTable table {
        width: 100%;
    }
    #submissionTable table th {
        background: lightgrey;
        padding: 0 0.5rem;
        white-space: nowrap;
    }
    #submissionTable table td {
        padding: 0.5rem 0;
        border-bottom: 1px black solid;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
    }
    #submissionTable table td > input {
        width: 2.5rem;
    }
    #submissionTable table select {
        width: 3rem;
    }
    #submitBtnContainer input[type="submit"] {
        margin: 1rem 25%;
        width: 50%;
        padding: 1rem;
    }

    #submissionTable #adminTable td select {
        width: 10rem;
    }
/*
**********************ACTIVE CONTEST RESULTS PAGE*******************
*/
    #contestResultsContainer {
        font-family: Georgia, 'Times New Roman', Times, serif;
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;
    }
    #contestResultsTable {
        width: 100%;
    }
    #contestResultsTable th {
        background: skyblue;
        word-wrap: normal;
        white-space: normal;
        padding: 0.2rem;
        vertical-align: middle;
    }
    #contestResultsTable td {
        padding: 0 1rem;
        border-bottom: 1px black solid;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
        font-size: 0.9rem;
    }
    #contestResultsTable td a {
        text-decoration: none;
    }
    #contestResultsTable td span {
        height: 100%;
        line-height: 100%;
    }
    #contestResultsTable td span > img {
        height: 2rem;
        vertical-align: middle;
        margin: 0.2rem;
    }
    #contestResultsTable tr:nth-of-type(1) td {
        font-size: 1.3rem;
        background-color: rgb(240, 222, 64);
    }
    #contestResultsTable tr:nth-of-type(1) td span > img {
        height: 4rem;
    }
    #contestResultsTable tr:nth-of-type(2) td {
        font-size: 1.1rem;
        background-color: lightgrey;
    }
    #contestResultsTable tr:nth-of-type(2) td span > img {
        height: 3rem;
    }
    #contestResultsTable tr:nth-of-type(3) td {
        background-color: darkgoldenrod;
    }
    
}
/* Large Mobile Devices */
@media only screen and (min-width : 375px) {
    
}
/* Large Mobile Devices */
@media only screen and (min-width : 425px) {
    
}

/* Extra-Large Mobile Devices */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    html {
        font-size: 22px;
    }
    .steaminfo {
        height: auto;
        line-height: 3rem;
    }
    .steaminfo img {
        height: 3rem;
    }
    #howItWorkSection {
        font-size: 1.3rem;
    }
    .loginbanner img{
        width: 10rem;
    }
    .logoutBtn {
        margin-top: 5%;
    }
    #contestVotingContainer form input[type="submit"] {
        margin: 5% 30%;
    }
    #contestVotingContainer form {
        width: 65%;
        margin: 0 auto;
    }
    .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn {
        padding: 0.8rem 0;
        margin: 0;
    }
}

/* Medium Devices, Desktops - No minimum height */
@media only screen and (min-width : 1000px){
    html {
        font-size: 22px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
    html {
        font-size: 18px;
    }
}

/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
    html {
        font-size: 20px;
    }
}



//***** Newer Browser Support
//***** Grid Design

@supports(grid-area: auto){
	/* Extra Small Mobile Devices */ 
	@media only screen and (min-width : 5320px) {
        body {
            display: grid;
            max-width: none;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "header header" 
                "content content";
            grid-gap: 0 1em;

        }
        .navbar {
            grid-area: header;
            
        }
        .navbar .nav-ul {
            
        }
        .navbar .nav-ul .nav-li {
            
        }
        .navbar .nav-ul .nav-li a {
            
        }
        .banner {
            grid-area: content;
            
        }
	}

	/* Large Mobile Devices */
	@media only screen and (min-width : 425px) {
		
	}

	/* Extra-Large Mobile Devices */
	@media only screen and (min-width : 480px) {
		
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		
	}

	/* Medium Devices, Desktops - No minimum height */
	@media only screen and (min-width : 1000px){
		
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		
	}

	/* Extra-Large Devices, Wide Screens */
	@media only screen and (min-width : 1300px) {
		
	}
}