<h1>&nbsp;&nbsp;Admin</h1>
<a href="/admin/contest">Manage Contests</a>
<ul>
    <li><a href="/admin/contest/submissions">Manage Contest Submissions</a></li>
    <li><a href="/admin/contest/winners">Manage Contest Winners</a></li>
</ul>
<a href="/admin/shuffle">Manage Shuffles</a>
<ul>
    <li><a href="/admin/reports">Manage Violation Reports</a></li>
</ul>
<a href="/admin/roles">Manage Roles</a>

