<!--<form action="/admin/contest" method="get" class="adminBtn">
    <input type="image" alt="admin_panel" src="img/glyphicons-137-cogwheel.svg">
</form> -->

<div class="dropdown adminBtn">
        <input id="adminPanel" type="image" alt="admin_panel" src="/img/glyphicons-137-cogwheel.svg" class="dropbtn" />
        <div class="dropdown-content" id="adminDropdown">
            <a href="/admin/contest">Upsert Contest</a>
            <a href="#">Link 2</a>
        </div>
</div>