<%- include('../header') -%>
<%- include('../navbar') -%>
<section class="contest-creation">
        <h1>Create Contest</h1>
        <form action="/admin/create/contest" method="get" class="contest-creation-form">
            <label for="contestName">Name:</label><br>
            <input type="text" alt="Enter name" id="contestName"/><br><br>
            <label for="contestDescription">Description:</label><br>
            <textarea alt="Enter description" id="contestDescription"></textarea><br><br>
            <label for="contestSubmissionStart">Contest Start-Date:</label><br>
            <input type="datetime-local" alt="Enter start date" id="contestSubmissionStart"/><br><br>
            <label for="contestSubmissionEnd">Contest End-Date:</label><br>
            <input type="datetime-local" alt="Enter end date" id="contestSubmissionEnd"/><br><br>
        </form>
</section>
<%- include('../bodyend') -%>