<!--<form action="/admin/contest" method="get" class="adminBtn">
    <input type="image" alt="admin_panel" src="img/glyphicons-137-cogwheel.svg">
</form> -->

<div class="dropdown">
        <input id="adminPanel" type="image" alt="admin_panel" src="/img/glyphicons-137-cogwheel.svg" class="dropbtn" />
        <div class="dropdown-content" id="adminDropdown">
            <a href="/admin/contest">Manage Contests</a>
        </div>
</div>