<%- include('../app/header') -%>
<%- include('../app/navbar') -%>
<section id="showErrorSuccess"></section>
<section id="shuffleReports" class="contest-creation">
    <h1>Shuffle Reports</h1>
    <section class="table-style">
        <table id="shuffleReportTable"></table>
    </section>
</section>
<%- include('../app/bodyend') -%>