<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<section id="showErrorSuccess"></section>
<section id="submissionTable" class="table-style" style="margin-bottom: 5%;">
    <h1>Update Submission Validity</h1>
    <input type="hidden" id="contestIDHidden" name="contestID">
    <table id="adminTable">
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Submission URL</th>
            <th>Valid?</th>
        </tr>
        <tr>
            <td><select id="contestUserName" required></select></td>
            <td><img src="#" id="contestUserPic"></td>
            <td><a href="#" id="contestSubmissionURL" target="_BLANK">Workshop Link</a></td>
            <td><input id="contestSubmissionValid" type="checkbox"></td>
        </tr>
    </table>
    <table style="margin-top: 2%;">
        <tr>
            <th>Twitch Timestamp</th>
            <th></th> 
        </tr>
        <tr>
            <td><input placeholder="Paste link here" id="contestSubTwitchURL" type="URL" style="width: 90%;"></td>
            <td><input id="submitTwitchURL" type="button" value="Submit Timestamp" style="width: 50%; background: green; color: white; border-radius: 1rem; font-size: 1.3rem;"></td>
        </tr>
    </table>
    
</section>
<%- include('../../app/bodyend') -%>