<section class="contestbanner">
    <img src="img/chill_dragon.svg">
    <%- (user) ? include('logoutbtn') : include('loginbtn') %>
    <%- (roles) ? console.log(roles) : console.log("not set") %>
</section>