<nav class="navbar">
    <a href="/">Home
    </a><a href="/collabs">Collabs
    </a><a href="/contest">Contest</a>
    <%- (user) ? ((user.roles.includes('Administrator')) ? include('admin/contestBtn') : null) : null %>
</nav>