<section class="contestbanner">
    <img src="/img/chill_dragon.svg">
    <div class="controlPanel">
        <%- include('user/steaminfo') %>
        <%- (user) ? include('user/logoutbtn') : include('user/loginbtn') %>
    </div>
</section>