<section class="welcome">
    Welcome To The Dragon's Lair
</section>
<section class="loginbanner">
    <img src="img/cute_dragon.svg">
    <%- (user) ? include('logoutbtn') : include('loginbtn') %>
</section>