<%- include('../header') -%>
<%- include('../navbar') -%>
<%- include('../userbanner') -%>
<section id="showErrorSuccess"></section>
<section id="contestVotingContainer">
    <h1>Choose Your Top 5</h1>

    <label for="firstPick">First place:</label>
    <select name="firstPick" id="firstPick" class="votingPick"></select>
    <br>
    <label for="secondPick">Second place:</label>
    <select name="secondPick" id="secondPick" class="votingPick"></select>
    <br>
    <label for="thirdPick">Third place:</label>
    <select name="thirdPick" id="thirdPick" class="votingPick"></select>
    <br>
    <label for="fourthPick">Fourth place:</label>
    <select name="fourthPick" id="fourthPick" class="votingPick"></select>
    <br>
    <label for="fifthPick">Fifth place:</label>
    <select name="fifthPick" id="fifthPick" class="votingPick"></select>
    <br>
</section>
<section id="contestSubmissionContainer"></section>
<%- include('../bodyend') -%>