<%- include('../header') -%>
<%- include('../navbar') -%>
<%- include('../userbanner') -%>
<section id="showErrorSuccess"></section>
<section id="contestSubmissionContainer"></section>
<%- include('../bodyend') -%>