<h2 id="submissionHeader">Contest Entry</h2>
<form action="/api/contest/submit/" method="post" class="contestSubmissionForm">
    <input type="hidden" id="contestIDSubmit" name="contestID">
    <input type="url" id="submissionURL" name="submissionURL" placeholder="https://steamcommunity.com/sharedfiles/filedetails/?id=XXXXXXXXXX" required/>
    <br>
    <br>
    <span>
        <input type="checkbox" id="verifySubmissionCB" name="verifySubmissionCB" required> By ticking this box and clicking the button("Submit Entry"), I agree and acknowledge that this is my own work
        and is associated with this Steam&#174; account. Violating these terms will result in the immediate and irrevocable termination of my account.<br>
        <br>
        <input type="submit" id="submitContestUser" alt="Submit To Contest" value="Submit Entry">
    </span>
</form>