/* Extra Small Mobile Devices */
@media only screen and (min-width: 320px) {
  /*********************************************
********************GENERAL*******************
*********************************************/
  *, *:before, *:after {
    box-sizing: border-box; }
  html {
    font-size: 16px;
    background-color: #303030; }
  body {
    max-width: 50em;
    margin: 0 auto;
    overflow-x: none; }
  footer {
    font-size: 1.3rem;
    background-color: #272822;
    text-align: center;
    width: 100%;
    color: oldlace;
    padding: 5%; }
  footer a {
    text-decoration: none;
    color: orangered; }
  #backToTop {
    display: none;
    bottom: 1%;
    right: 1%;
    position: fixed;
    float: right;
    height: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #c83232;
    color: white; }
  .closed {
    height: 4rem;
    opacity: 0.4;
    overflow: hidden; }
  .opened {
    height: 80rem !important;
    opacity: 1 !important; }
  .hidden {
    display: none; }
  #inDepth {
    -webkit-transition: height 2s;
    -ms-transition: height 2s;
    transition: height 2s; }
  .italic {
    font-style: italic !important; }
  .bold {
    font-weight: bold !important; }
  .success-notification {
    background-color: #007900; }
  .error-notification {
    background-color: rgba(255, 67, 67, 0.5); }
  .jump-to-icon {
    background: url("img/forward.png");
    background-size: 100% 100%;
    max-width: 50%; }
  #privacyPolicy, #termsOfUse, #failedLogin {
    color: whitesmoke;
    text-align: center;
    padding: 3%;
    font-size: 1.3rem; }
  #failedLogin .steam-privacy {
    display: block;
    margin: 3rem auto;
    max-width: 65%;
    border: 0.3rem white solid;
    margin-bottom: 3rem; }
  .infopanel {
    width: 100%;
    padding: 3rem 10%;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: gainsboro; }
  .discord {
    background-color: #303030; }
  .discord img {
    max-width: 15rem; }
  .twitch {
    background-color: #303030; }
  .twitch img {
    max-width: 10rem;
    margin-bottom: 1.5rem; }
  .patreon {
    background-color: #303030; }
  .patreon h1, .patreon span {
    color: #0f81df; }
  .patreon img {
    max-height: 10rem; }
  /*********************************************
********************NAVBAR********************
*********************************************/
  .navbar {
    text-align: center;
    background-color: #272822;
    padding: 2%; }
  .navbar a {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0.5rem;
    line-height: 3rem;
    text-decoration: none; }
  .navbar a:active {
    background-color: orange; }
  .navbar a:visited, .navbar a {
    color: white; }
  .navbar a:hover {
    background-color: orange; }
  .dropdown {
    overflow: hidden;
    width: 3rem;
    margin: 0 auto; }
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; }
  .dropdown-content {
    text-align: justify;
    display: none;
    position: absolute;
    background-color: #272822;
    z-index: 1;
    padding: 1rem; }
  .dropdown-content hr {
    width: 100%;
    margin: 1rem 0; }
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block; }
  .dropdown-content a:hover {
    background-color: orange; }
  .show {
    display: block; }
  /*********************************************
********************USER PANEL****************
*********************************************/
  .welcome, .steaminfo {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    background-color: #8c0f0f;
    color: whitesmoke; }
  .steaminfo {
    width: 100%;
    display: flex;
    line-height: 3rem; }
  .steaminfo img {
    width: 3rem;
    height: 3rem; }
  .userbanner .controlPanel .steaminfo .logoutBtn {
    float: right; }
  .userbanner {
    background-color: #8c0f0f;
    width: 100%;
    padding: 1rem;
    text-align: center; }
  .userbanner > img {
    width: 50%;
    margin: 5% 20% 0 20%; }
  .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn {
    width: 100%;
    padding: 5% 0; }
  .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn input {
    float: right; }
  .userSubmitBtn {
    width: 75%;
    margin: 0 auto; }
  .userSubmitBtn input {
    width: 100%;
    font-size: 0.9rem;
    background-color: darkslategrey;
    color: white;
    border-radius: 5px; }
  .loginbanner {
    background-color: #8c0f0f;
    width: 100%;
    padding: 1rem; }
  .loginbanner img {
    max-width: 35%; }
  .loginBtn input, .logoutBtn input {
    font-size: 1.2rem;
    background-color: #0f81df;
    color: gainsboro;
    padding: 0.5rem;
    border-radius: 1rem; }
  /*********************************************
*****************COLLAB PAGE******************
*********************************************/
  #collabsDiv {
    text-align: center;
    background-color: darkred;
    color: white; }
  /*********************************************
*************ADMIN MANAGE CONTEST*************
*********************************************/
  .contest-creation {
    width: 100%;
    padding: 3rem;
    background-color: #303030;
    color: antiquewhite; }
  .contest-creation select > option {
    max-width: 100%; }
  .contest-creation input[type="datetime-local"], .contest-creation select, .contest-creation input[type="text"],
  .contest-creation input[type="submit"], .contest-creation input[type="reset"], .contest-creation input[type="number"] {
    height: 2rem;
    font-size: 1rem; }
  .contest-creation h1 {
    text-align: center; }
  .contest-creation-form {
    width: 75%;
    margin: 5rem auto; }
  .contest-creation-form * {
    width: 100%; }
  .contest-creation-form label {
    font-size: 1rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .contest-creation-form input[type="checkbox"] {
    width: auto; }
  .contest-creation-form input[type="submit"] {
    background-color: green;
    color: whitesmoke; }
  .contest-creation-form input[type="reset"] {
    background-color: red;
    color: whitesmoke; }
  #contestDescription, #shuffleDescription {
    width: 100%;
    height: 50vh; }
  #contestCriteriaDropdown, #contestRulesDropdown, #addJudgeDropdown, #removeJudgeDropdown, #addShuffleBanDropdown, #removeShuffleBanDropdown {
    height: auto; }
  /*********************************************
******ADMIN MANAGE CONTEST SUBMISSIONS********
*********************************************/
  #submissionTable #adminTable td select {
    width: 10rem; }
  #submissionTable #adminTable #contestUserPic {
    width: 3rem; }
  #submissionTable #adminTable #contestSubmissionURL {
    color: orangered;
    text-decoration: none; }
  /*********************************************
****************CONTEST PAGE******************
*********************************************/
  .contestPageRubric {
    padding: 5%; }
  .contestPageRubric h3, .contestPageRubric h1 {
    color: #3b79ff; }
  #judgeSection {
    text-align: center;
    color: oldlace; }
  #judgeSection h1 {
    color: #3b79ff;
    font-size: 3rem;
    margin-bottom: 5rem; }
  #judgeSection .steaminfo {
    background-color: #303030;
    display: block;
    margin: 0 auto 4rem 0; }
  #judgeSection .steaminfo img {
    margin: -1rem 0.5rem; }
  #activeContest, #submitEntrySection, #howItWorkSection, #showErrorSuccess, #activeShuffle, #nextRoundTimer, #workshopLink {
    padding: 5%;
    text-align: center;
    font-size: 1.2rem;
    background-color: #303030;
    color: white;
    font-weight: 400; }
  #activeContest .Name h1 {
    color: white; }
  #activeContest h1, #activeShuffle h1 {
    color: #3b79ff;
    font-size: 2.5rem; }
  #activeContest img, #activeShuffle img {
    width: 100%; }
  #activeContest #twitchImg {
    width: 40%; }
  #activeContest .contest-banner-container {
    background: url("img/cute_dragon.svg");
    background-position: 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 2.5%; }
  #activeContest .sml-container {
    width: 100%;
    height: 20vh; }
  #activeContest .sml-container span {
    max-width: 47.5%; }
  #activeContest .sml-container span:nth-of-type(1) {
    float: left; }
  #activeContest .sml-container span:nth-of-type(2) {
    float: right; }
  #activeContest .sml-container span:nth-of-type(3) {
    float: left; }
  #activeContest .sml-container span:nth-of-type(4) {
    float: right; }
  #activeContest #rulesDiv {
    text-align: left;
    padding: 0 5%; }
  #activeContest #rulesDiv .rule {
    font-size: 1.5rem;
    margin-top: 5%; }
  #howItWorkSection #learnMore {
    padding: 1rem;
    border: 0.2rem solid #272822;
    box-shadow: 0 0.6rem 1.5rem 0.1rem #c4b180;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    margin: 0 auto 6rem auto;
    width: 35%;
    cursor: pointer;
    background-color: #3b79ff;
    color: gainsboro;
    font-weight: bold; }
  #howItWorkSection #contestInDepth {
    transition: opacity 1s ease; }
  #howItWorkSection a {
    text-decoration: none;
    color: darkgoldenrod; }
  #howItWorkSection h3 {
    color: #3b79ff;
    letter-spacing: 0.1rem; }
  .Description ul {
    text-align: left;
    color: gainsboro;
    margin: 2rem;
    font-size: 1.4rem; }
  #submitEntrySection {
    background: gainsboro;
    margin: 5% auto 0 auto;
    color: #272822; }
  #submitEntrySection, #howItWorkSection {
    padding: 5%; }
  #submitEntrySection h2 {
    font-size: 1.5rem; }
  #submitEntrySection #submissionURL {
    width: 100%;
    height: 2rem; }
  #submitEntrySection .reg-checkbox {
    width: 1rem;
    height: 1rem; }
  #submitEntrySection input[type=url] {
    border: 0.1rem black solid;
    padding: 0.3rem; }
  #submitEntrySection #submitContestUser, #submitEntrySection #submitShuffleUser {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #007900;
    color: white;
    font-size: 1.3rem; }
  #submitEntrySection img {
    width: 50%; }
  #submitEntrySection form #contestVote {
    padding: 1rem; }
  /*********************************************
************CONTEST VOTING PAGE***************
*********************************************/
  .contestVotingForm input[type='submit'] {
    font-size: 1.2rem;
    padding: 5%;
    background-color: #0f81df;
    color: gainsboro;
    border-radius: 5%; }
  #contestVotingContainer {
    padding: 5%;
    width: 100%;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gainsboro; }
  #contestVotingContainer form {
    width: 100%; }
  #contestVotingContainer table {
    width: 100%; }
  #contestVotingContainer td {
    padding: 0.5rem 0; }
  #contestVotingContainer h1 {
    text-align: center; }
  #contestVotingContainer .votingPick {
    width: 8rem; }
  #contestVotingContainer input[type="button"] {
    background-color: transparent;
    border: none;
    width: 2rem; }
  #contestVotingContainer form input[type="submit"] {
    margin: 5% 25%;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #007900;
    color: white; }
  #contestSubmissionContainer {
    text-align: center;
    padding: 5%; }
  #contestSubmissionContainer .contest-submission {
    background-color: darkslategray;
    margin: 0 0 5% 0;
    width: 100%;
    align-content: center;
    padding: 3%; }
  #contestSubmissionContainer .contest-submission .steaminfo {
    margin: 0 auto;
    background-color: inherit;
    height: auto;
    padding: 0;
    font-size: 1.5rem; }
  #contestSubmissionContainer h1 {
    color: white;
    font-size: 2rem; }
  #contestSubmissionContainer .contest-submission .steaminfo > img {
    height: 100%; }
  #contestSubmissionContainer .contest-submission a.contest-submission-url:link, #contestSubmissionContainer .contest-submission a.contest-submission-url:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5rem; }
  /*********************************************
************CONTEST JUDGING PAGE**************
*********************************************/
  .table-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center; }
  .table-style h1 {
    color: whitesmoke;
    padding: 1rem; }
  #contestRubric {
    color: oldlace;
    font-size: 1.2rem; }
  #contestRubric h1 {
    text-align: center; }
  .table-style table {
    width: 100%; }
  .table-style table th {
    background: lightgrey;
    padding: 0 0.5rem;
    white-space: nowrap;
    color: #272822; }
  .table-style table td {
    padding: 0.5rem 0;
    border-bottom: 1px black solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center; }
  .table-style table td > input {
    width: 2.5rem; }
  .table-style table select {
    width: 3rem;
    font-weight: bold;
    font-size: 1rem; }
  .table-style a {
    color: #3b79ff; }
  .submit-container {
    text-align: center;
    width: 100%; }
  .submit-container input[type="submit"] {
    padding: 1rem;
    background-color: #0f81df;
    border-radius: 1rem;
    color: white; }
  /*********************************************
***********CONTEST RESULTS PAGE***************
*********************************************/
  #contestResultsContainer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center; }
  .disclaimer {
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    width: 75%;
    margin: 0 auto; }
  #contestResultsTable {
    margin-top: 2rem;
    width: 100%; }
  #contestResultsTable th {
    background: #3b79ff;
    word-wrap: normal;
    white-space: normal;
    padding: 0.2rem;
    vertical-align: middle; }
  #contestResultsTable td {
    padding: 0 1rem;
    border-bottom: 1px black solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem; }
  #contestResultsTable td a {
    text-decoration: none; }
  #contestResultsTable td span {
    height: 100%;
    line-height: 100%; }
  #contestResultsTable td span > img {
    height: 2rem;
    vertical-align: middle;
    margin: 0.2rem; }
  #contestResultsTable tr:nth-of-type(1) td {
    font-size: 1.3rem;
    background-color: #f0de40; }
  #contestResultsTable tr:nth-of-type(1) td span > img {
    height: 4rem; }
  #contestResultsTable tr:nth-of-type(2) td {
    font-size: 1.1rem;
    background-color: lightgrey; }
  #contestResultsTable tr:nth-of-type(2) td span > img {
    height: 3rem; }
  #contestResultsTable tr:nth-of-type(3) td {
    background-color: darkgoldenrod; }
  /*********************************************
*****************SHUFFLE PAGE*****************
*********************************************/
  #nextRoundTimer {
    color: #8c0f0f !important;
    background-color: gainsboro;
    width: 75%;
    margin: 5% auto 0 auto;
    border: 0.3rem #8c0f0f solid; }
  #workshopLink, #previousLinks {
    background-color: gainsboro;
    font-size: 1.5rem;
    border: #272822 0.3rem solid;
    padding: 0.5rem;
    width: 75%;
    margin: 5% auto 0 auto; }
  #workshopLink a, #previousLinks a {
    cursor: pointer;
    text-decoration: none;
    color: #272822;
    font-weight: bold; }
  #activeShuffle a img {
    width: 50%; }
  .report-user {
    color: #272822;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
    line-height: 1.5rem;
    background: #3b79ff;
    border: 0.1rem dotted #272822;
    border-radius: 1rem;
    width: 6rem;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1rem;
    cursor: pointer; } }

/* Large Mobile Devices */
@media only screen and (min-width: 375px) {
  .opened {
    height: 70rem !important; } }

/* Large Mobile Devices */
/* Extra-Large Mobile Devices */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  html {
    font-size: 22px; }
  .opened {
    height: 65rem !important; }
  .steaminfo {
    height: auto;
    line-height: 3rem; }
  .steaminfo img {
    height: 3rem; }
  #howItWorkSection {
    font-size: 1.3rem; }
  .loginbanner img {
    width: 10rem; }
  .logoutBtn {
    margin-top: 5%; }
  #contestVotingContainer form select {
    font-size: 1rem; }
  #contestVotingContainer form {
    width: 65%;
    margin: 0 auto; }
  .userbanner .controlPanel, .userbanner .controlPanel .logoutBtn {
    padding: 0.8rem 0;
    margin: 0; } }

/* Medium Devices, Desktops - No minimum height */
@media only screen and (min-width: 1000px) {
  html {
    font-size: 24px; } }

/* Large Devices, Wide Screens */
/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width: 1300px) {
  html {
    font-size: 18px; }
  #contestVotingContainer form {
    width: 50%;
    margin: 0 auto; } }

/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width: 2000px) {
  html {
    font-size: 20px; }
  #contestVotingContainer .votingPick {
    font-size: 1.1rem; } }

@supports (grid-area: auto) {
  /* Extra Small Mobile Devices */
  @media only screen and (min-width: 5320px) {
    body {
      display: grid;
      max-width: none;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "header header"  "content content";
      grid-gap: 0 1em; }
    .navbar {
      grid-area: header; }
    .banner {
      grid-area: content; } }
  /* Large Mobile Devices */
  /* Extra-Large Mobile Devices */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops - No minimum height */
  /* Large Devices, Wide Screens */
  /* Extra-Large Devices, Wide Screens */ }
