        <script src="/bundle.js" charset="utf-8"></script>
        <footer>
            <p>
                Website created by Tureebluh<br>All Rights Reserved<br>
                By visiting this website, you agree to our <a href="/terms-of-use" target="_blank">Terms Of Use.</a>
            </p>
        </footer>
    </body>
</html>