        <script src="/bundle.min.js" charset="utf-8"></script>
        <footer>
            <p>
                Website created by <a target="_BLANK" href="https://www.tureebluh.com">Tureebluh</a><br>All Rights Reserved<br>
                By visiting this website, you agree to our <br><a href="/terms-of-use" target="_blank">Terms Of Use</a> & <a href="/privacy-policy" target="_blank">Privacy Policy</a>
            </p>
        </footer>
    </body>
</html>