<%- include('header') -%>
<%- include('navbar') -%>
<%- include('../user/home/welcomesection') -%>
<section id="failedLogin">
    <h1>Oops!</h1>

    Looks like you failed the Login Verification Process. The three things required to login to this website are as follows: <br>
    <ul style="text-align: justify!important">
        <li>A Steam account in good standing with your Privacy Settings set to Public(see screenshot below).</li>
        <li>A valid game license for Planet Coaster associated with that Steam account.</li>
        <li>No violations on this website against that Steam account.</li>
    </ul>
    <img id="steam-privacy" src="/img/privacy-setting.png">
    If you've been on this website before but find yourself unable to login, please contact one of the Admin on Discord or Steam.
</section>
<%- include('bodyend') -%>