<%- include('header') -%>
<%- include('navbar') -%>
<%- include('../user/home/welcomesection') -%>
<section id="failedLogin">
    <h1>Oops!</h1>

    Looks like you failed the Login process. The things required to login to this website are as follows: <br>
    <ul style="text-align: justify!important">
        <li>A Steam account in good standing.</li>
        <li>No violations on this website against that Steam account.</li>
    </ul>
</section>
<%- include('bodyend') -%>