<%- include('header') -%>
<%- include('navbar') -%>
<%- include('../user/home/welcomesection') -%>
<section id="failedLogin">
    <h1>Failed Game Verification</h1>

    <p>
        A valid license for Planet Coaster must be associated with this steam account. 
        You only have to verify your account one time. 
        You may set your privacy settings back to private after and still maintain full privileges on the site.
    </p>

    <h1>From the Steam Home Page</h1>
    <img class="steam-privacy" src="/img/steam-profile.png"><br>
    <h1>From Your Steam Profile Page</h1>
    <img class="steam-privacy" src="/img/edit-profile.png"><br>
    <h1>From The Edit Profile Page (Click My Privacy Settings on the right)</h1>
    <img class="steam-privacy" src="/img/privacy-setting.png"><br>
    If you've been on this website before but find yourself unable to login, please contact one of the Admin on Discord or Steam.
</section>
<%- include('bodyend') -%> 