<form action="/auth/login" method="get" class="loginBtn">
    Login with <span style="color: darkgrey;"><strong>STEAM<sup>&#174;</sup></strong><br></span>
    <input type="submit" value="Login">
</form>
