<section class="contestbanner">
    <img src="/img/chill_dragon.svg">
    <div class="controlPanel">
        <%- include('steaminfo') %>
        <%- (user) ? include('logoutbtn') : include('loginbtn') %>
    </div>
</section>