<section class="patreon infopanel">
        <h1>Ad-Free</h1>
        As the site gets <em>bigger</em> and <em>better</em>, you can expect us to remain <em>100%</em> Ad-Free.<br>
        <span style="color:black;"><em>Always.</em></span>
</section>