<section class="twitch infopanel">
        <a href="https://www.twitch.tv/r3ddragons" target="_blank"><img src="img/twitch_purple_combo.svg"></a><br>
        Join us live where we feature community creations, contest submissions, judging results and more!
</section>