<section class="welcome">
    The Dragon's Lair
</section>
<section class="loginbanner infopanel">
    <img src="/img/cute_dragon.svg">
    <div class="controlPanel">
        <%- (user) ? include('../../app/logoutbtn') : include('../../app/loginbtn') %>
    </div>
</section>