<section class="youtube infopanel">
    <a href="https://www.youtube.com/channel/UC2DTPpS9zb--p9Rm7jZPKrA" target="_blank"><img src="img/yt_logo_rgb_dark.png"></a><br>
    Check out our Featured Community Creations, Parks, Coasters and more!
    <!--   ~    ~
         ~` (.)< ("FOR THE HORDEEEEE")
        ~<(___)  ~
        ~     ~
    ~~~~~~-->
</section>