<h1>How It Works</h1>
<p>
    <h3>What Is It?</h3>
    Dragonian Shuffles are community events where participants submit blueprints (1000 piece max) matching a given theme before the first round ends.<br><br>
    At the start of each round thereafter, all participants will be randomly given a blueprint that they must download and build on.<br><br>
    Once you're satisfied with your additions (1000 pieces), you upload the blueprint to the workshop, and submit the blueprint down below.<br><br>
    That blueprint will then be passed on to someone else who hasn't worked on it previously during the next round.<br><br>
    When the final round ends, you'll be provided a list of the 3 people who worked on the last piece passed to you.<br><br>
    <strong><em>*MOST IMPORTANTLY*</em></strong><br>
    We have <strong>FUN!</strong> These are Non-Competitive with <strong><em>Absolutely NO Community Voting or Judging of any kind.</em></strong>
</p>
<div class="closed" id="inDepth">
<p>
    <h3>Submission</h3>
    All submission deadlines are automated by the system. Hours remaining in the current shuffle are listed <a href="#timeRemaining">here.</a><br>
    Late/early submissions WILL NOT be accepted by the system for ANY reason.<br>
    Any submission that violates any listed rules will be subject to disqualification.<br>
</p>
    <p>
        <h3>Rules</h3>
        All shuffles are open to anyone in the Planet Coaster Community, regardless of inclusion in the Dragonian Community.<br><br>
        If you do NOT make the submission deadline for the FIRST round, you MUST wait until the NEXT Shuffle begins to participate.<br><br>
        Every round, participants will build NO MORE than 1000 pieces ONTO the blueprint that is randomly assigned to them.<br><br>
        You may NOT for ANY reason delete pieces placed by previous builders.<br><br>
        All shuffles will run FOUR(4) rounds. ANY participant who enters MUST complete ALL rounds of the shuffle.<br><br>
        You MUST include the NAME, and WORKSHOP LINK of ALL previous contributors on the final blueprint you receive.<br>
        <strong><em>*The list provided at the end*</em></strong><br><br>
        For the sake of fairness and because of the nature of the Shuffles, failure to finish out the Shuffle upon entry will result in you being banned from future Shuffles.<br><br>
        Regardless of the chosen theme, ALL submissions MUST be PG (Family/Children Friendly)<br><br>
        Contest Judges, Moderators, and Administrators ARE ALLOWED and encouraged to participate in the Shuffles given the general fun nature of the event.<br><br>
    </p>
</div>
<div id="learnMore">Learn More</div>