<h1>How It Works</h1>
<p>
    <h3>New to the Shuffles?<br>Here's a quick video explaining how everything works.</h3>
    <div class="yt-cont">
        <iframe src="https://www.youtube.com/embed/h-NtNLUS3f8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</p>