<h1>How It Works</h1>
<p>
    <h3>General</h3>
    All contests are open to anyone in the Planet Coaster Community, regardless of inclusion in the Dragonian Community.<br>
    All contests will be implemented with a <a href="#votingHowItWork">50/50 voting system</a> consisting of community votes, followed by an expert panel to maintain fairness and integrity of the contests.<br><br>
</p>
<p>
    <h3>Submission</h3>
    To access this website you must have a copy of Planet Coaster associated with your account.<br>
    Any valid user on this website has the option of participating in ALL contests.<br><br>
    All contests date/times are listed at the top of each contest for submission and voting.<br>
    Submission/voting deadlines are automated by the system. Late/early submissions WILL NOT be permitted for ANY reason.<br><br>
    All contest submissions MUST follow ALL listed rules for the contest. Any submission that violates any listed rules will be subject to disqualification.<br><br>
</p>
<p id="votingHowItWork">
    <h3>Community Voting</h3>
    When voting opens, ALL VALID users on the website will have the option of participating in the current voting cycle REGARDLESS OF ENTRY INTO THE CONTEST.<br><br>
    Those who choose to vote will pick their TOP 5 (FIVE) entries in ranking order.<br><br>
    Picks will sequentially receive points according to the order you pick. For example, your 1st (FIRST) pick will receive 5 (FIVE) points, while your 5th (FIFTH) pick will receive 1 (ONE) point.<br><br>
    <h3>Expert Judging</h3>
    Once community voting has closed the TOP 25 (TWENTY-FIVE) will be shuffled and given to the expert judges for scoring.<br><br>
    Expert judges will use a quantitative scoring system to judge each top-entry individually.<br><br>
    Each entry can earn AT MOST (PERFECT score from ALL judges), the total amount of POTENTIAL POINTS (ALL 1st place picks from ALL community voters) from the community voting cycle.<br><br>
    For example, if 200 people participated in the community voting cycle, the total amount of POTENTIAL POINTS an entry can earn would be 1000 (200 voters x 5 points for 1st place).<br><br>
    Once the expert judging has been finalized, ALL entries will be ranked by their combined points (community votes + expert judging) and the winners will be chosen.<br><br>
</p>