<h1>How It Works</h1>
<p>
    <h3>General</h3>
    All contests are open to anyone in the Planet Coaster Community, regardless of inclusion in the Dragonian Community.<br>
    All contests will be implemented with a 50/50 voting system consisting of community votes, followed by an expert panel to maintain fairness and integrity of the contests.<br><br>
</p>
<div class="closed" id="inDepth">
<p>
    <h3>Submission</h3>
    Any valid user on this website has the option of participating in ALL contests.<br>
    All submission/voting deadlines are automated by the system and listed at the top of each contest. Late/early submissions WILL NOT be permitted for ANY reason.<br>
    Any submission that violates any listed rules will be subject to disqualification.<br>
</p>
<p id="votingHowItWork">
    <h3>Community Voting</h3>
    ALL VALID users on the website will have the option of participating in the voting cycle <em>REGARDLESS OF ENTRY INTO THE CONTEST</em>.<br>
    Voters will pick 5 (FIVE) entries they would like to see move on to the <em>Judging Round</em>.<br><br>
    <h3>Expert Judging</h3>
    Once community voting has closed the TOP 25 (TWENTY-FIVE) submissions will be given to the expert judges for scoring.<br><br>
    Expert judges will use a quantitative scoring system to judge each entry with weighted criteria.<br><br>
    Each entry can earn <em>AT MOST</em> 50% of their points from the expert judges, and 50% from the community voting cycle.<br><br>
    Once the expert judging has been finalized, top entries will be ranked by their combined points (community votes + expert judging) and the winners will be chosen.<br><br>
</p>
</div>
<div id="learnMore">Learn More</div>