<%- include('../../app/header') -%>
<%- include('../../app/navbar') -%>
<%- include('../../app/userbanner') -%>
<section class="userProfileSection" id="userProfile"></section>
<section class="userProfileSection" id="userShuffles"></section>
<section class="userProfileSection" id="userContests"></section>
<%- include('../../app/bodyend') -%>